<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"  type="text/css" href="/css/results.css" media="screen  and (min-width: 600px)"/>
<link rel="stylesheet" type="text/css" href="/css/resultsmobile.css" media="only screen and (max-width: 600px)" />

<head>
    <div class="topbar">
    <link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'>
    <div class = topbar>
    <h1 style="font-family: 'Assistant'"> QuicFic </h1>
        <div class = home-button>
            <a href="https://a7-alan-angel.herokuapp.com/">
            <img class="resize" src="images/HOME2.png" >
        </a>
        </div>
    </div>
  
</div>

      {{!

        <div class = login>
        <form action = "http://www.example.com/login/" method = "post">
            <label for="username">Username:</label>
            <input type = "text" name="username"
                required="required" /> <br />
                <label for="password">Password:</label>
                <input type ="password" name="password" required="required" />
                <input type="submit" value="Submit" />
        </form>
    </div>
    }}
</head>


<body>


<!-- Navigation -->
  <div class="dropdown">
    <button class="dropbtn">Applied Tags</button>
    <div class="dropdown-content">
      {{#each novels}}
        <p>{{tag}}</p>
      {{/each}}
    </div>
  </div>


{{#each novels}}
<div id = "book-listings">
    <div id = "book-entry">
      <a href = {{driveLink}}>
        <div id = "book-image">
          <div id = "title-line">
          <img class = "cover" src={{imageURL}} >
          </a>
              <h-entry> {{title}} </h-entry>
            </div>
      <div class = "tags">
        <a href="https://google.com">
          <p-button id="title-tags"> {{tag}} </p-button>
        </a>
      </div>
    </div>
</div>
</div>
<br>
{{/each}}

 <!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>
